DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=ecommerce_db

PORT_GATEWAY=8000
PORT_IDENTITY=8001
PORT_PRODUCT=8002
PORT_ORDER=8003
PORT_NOTIFICATION=8004

IDENTITY_SERVICE_URL=http://localhost:8001
PRODUCT_SERVICE_URL=http://localhost:8002
ORDER_SERVICE_URL=http://localhost:8003
NOTIFICATION_SERVICE_URL=http://localhost:8004

JWT_SECRET=ecommerce_identity_jwt_secret_key_2026
JWT_EXPIRES_IN=7d
RABBITMQ_URL=amqp://guest:guest@localhost:5672
